//
//  iOS.xcconfig
//  NSResult
//
//  Created by Robert Armenski on 14.10.20.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

INFOPLIST_FILE = Sources/$(PRODUCT_NAME)/Resources/Info-iOS.plist
IPHONEOS_DEPLOYMENT_TARGET = 9.0
